*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
    background: #FFAE35;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    min-height: 100vh;
}
nav ul{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
}
nav ul a{
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px 20px;
    text-decoration: none;
}
nav ul a:hover{
    transition: 0.2s;
    background: #3586ff;
    font-size: 1.3em;
}
.logo{
    display: block;
    margin:20px auto;
    width: 400px;
}
.HomePageHeading{
    color: rgb(255, 255, 255);
    font-size: 5em;
    text-align: center;
    margin-bottom: 50px;
}
.HomePageHeading2{
    color: rgb(255, 255, 255);
    font-size: 2em;
    text-align: center;
    margin-bottom: 50px;
}
article{
    text-align: justify;
    margin-right: 250px;
    margin-left: 250px;
    margin-bottom: 150px;
}
.p-summary{
    text-align: center;
}
.p-name{
    text-align: center;
}
.h-card{
    text-align: center;
}
.Blog3Image{
    display: block;
    margin:20px auto;
    height:200px;
}
span{
    display:flex;
    flex-direction: row;
    gap:20px;
}
.min-content{
    width:600px;
}
.Wireframes{
    width: 600px;
    display: block;
    margin:20px auto;
}
@media(max-width:1500px){
    nav ul a{
        font-size: 1em;
        margin: 5px 10px;
    }
    nav ul a:hover{
        font-size: 1em;
    }
    .HomePageHeading{
        font-size: 4em;
        margin-bottom: 25px;
    }
    article{
        margin-right: 50px;
        margin-left: 50px;
    }
}
@media(max-width:650px){
    nav ul a{
        font-size: 1em;
        margin: 5px 10px;
    }
    nav ul a:hover{
        font-size: 1em;
    }
    .HomePageHeading{
        font-size: 4em;
        margin-bottom: 25px;
    }
    article{
        margin-right: 50px;
        margin-left: 50px;
    }
    .Blog3Image{
        height:180px;
    }
    .Wireframes{
        width: 400px;
    }
}
@media(max-width:375px){
    .HomePageHeading{
        font-size: 3em;
        margin-bottom: 25px;
    }
    .logo{
        width: 300px;
    }
    article{
        margin-right: 50px;
        margin-left: 50px;
    }
    nav ul{
        margin: 25px 0;
    }
    .Blog3Image{
        height:170px;
    }
    .Wireframes{
        width: 350px;
    }
}
@media(max-width:374px){
    .HomePageHeading{
        font-size: 2.5em;
        margin-bottom: 25px;
    }
    .logo{
        width: 250px;
    }
    article{
        margin-right: 25px;
        margin-left: 25px;
    }
    .Blog3Image{
        height:160px;
    }
    .Wireframes{
        width: 300px;
    }
}
@media(max-width:254px){
    .HomePageHeading{
        font-size: 2em;
        margin-bottom: 25px;
    }
    .logo{
        width: 200px;
    }
    article{
        margin-right: 25px;
        margin-left: 25px;
    }
    .Blog3Image{
        height:150px;
    }
    .Wireframes{
        width: 250px;
    }
}
/* @media(max-width:200px){
    .Blog3Image{
        height:250px;
    }
} */
